/* .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('https://i.postimg.cc/0y9NBvWB/aditya-romansa-m6p4lq-Wxfy0-unsplash.jpg');
    height: 600px;
    width: 100%;
} */